*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(78, 78, 78);
}

.title{
    font-size: 50px;
}

.form{
    width: 100%;
    height: auto;
    flex-direction: column;
}

.input{
    width: 120px;
    height: 40px;
    margin: 20px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
}

.options{
    width: 50%;
    height: auto;
    font-size: 30px;
}

.option{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 15px 0 15px;
}